{{top-bar}}

<div class="row">
  <div class="large-3 columns">{{conversations-list conversations=model}}</div>
  <div class="large-5 columns">{{outlet}}</div>
  <div class="large-4 columns"><!-- related -->&nbsp;</div>
</div>
