{{top-bar}}

<div class="row">
  <div class="large-3 medium-3 columns">{{conversations-list conversations=model}}</div>
  <div class="large-5 medium-9 columns">{{outlet}}</div>
  <div class="large-4 medium-0 columns"><!-- related -->&nbsp;</div>
</div>
