{{top-bar}}

<div class="row">
  <div class="large-3 columns"><!-- sidebar -->&nbsp;</div>
  <div class="large-5 columns">{{conversation-panel conversation=model}}</div>
  <div class="large-4 columns"><!-- related -->&nbsp;</div>
</div>

{{outlet}}
